<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.objectsbydesign.calc.model.Value" name="IValue" schema="schema/com.objectsbydesign.calc.model.Value.exsd"/>
   <extension-point id="com.objectsbydesign.calc.mode.Command" name="Command" schema="schema/com.objectsbydesign.calc.mode.Command.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="edu.umkc.Bharat.CalcExtp.commands.category">
      </category>
      <command
            name="Calc"
            categoryId="edu.umkc.Bharat.CalcExtp.commands.category"
            id="edu.umkc.Bharat.CalcExtp.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.umkc.Bharat.CalcExtp.commands.sampleCommand"
            class="edu.umkc.bharat.calcextp.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.umkc.Bharat.CalcExtp.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Calculator"
               mnemonic="M"
               id="edu.umkc.Bharat.CalcExtp.menus.sampleMenu">
            <command
                  commandId="edu.umkc.Bharat.CalcExtp.commands.sampleCommand"
                  mnemonic="S"
                  id="edu.umkc.Bharat.CalcExtp.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.umkc.Bharat.CalcExtp.toolbars.sampleToolbar">
            <command
                  commandId="edu.umkc.Bharat.CalcExtp.commands.sampleCommand"
                  icon="icons/calc.gif"
                  tooltip="Say hello world"
                  id="edu.umkc.Bharat.CalcExtp.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
